@import "tailwindcss";
@plugin "daisyui";



  #mainHeader {
    background: transparent;
    backdrop-filter: none;
  }


  #mainHeader.header-scrolled {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
  }

  #mainHeader.header-scrolled #renaultLogo {
    width: 40px;
    height: 40px;
  }











  .top-link {
    opacity: 1;
  }
  .top-link:hover {
    opacity: 1;
    font-weight: 600;
  }
  .top-link:not(:hover) {
    opacity: 0.4;
  }
  .top-link:hover ~ .top-link {
    opacity: 0.4;
  }
